body {
	background-color:#121212;
	color:#d7d7d7;
}

#main {
	margin-left: 12%; /* Same as the width of the sidebar */
	padding: 10px 10px 10px 10px; 
	top: 0;
}

#navigation{
	width: 11%;
	height: 100%;
	padding-left: 0.5%;
	position: fixed;
	top: 0;
	left: 0;
	border-right: 1px solid #C1C1C1;
}

.links1:link {
  color: #508dd4;
}

/* visited link */
.links1:visited {
  color: #7d6a9e;
}

/* mouse over link */
.links1:hover {
  color: hotpink;
}

/* selected link */
.links1:active {
  color: blue;
}


#navsidebar{
	margin-left: -10%;
}

.fc_green{
	color: #A2F6AA;
}
