
/*
 * $fc_Grey: #808080;
 * $fc23: #d7d7d7;
 *
*/



body {
	background-color: #18191a;
	color: #b0b3b8; /* Font color of the whole page */
}

b {
	color: #e4e6eb;
}

#main {
	margin-left: 12%; /* Same as the width of the sidebar */
	padding: 10px 10px 10px 10px; 
	top: 0;
}

#navigation{
	width: 11%;
	height: 100%;
	padding-left: 0.5%;
	position: fixed;
	top: 0;
	left: 0;
	border-right: 1px solid #C1C1C1; /* Border shown on the right of navigation bar */
	background-color:#161616; /* Propose to change color on mouse hover to #242526 */
}

.links1:link {
  color: #508dd4;
}

/* visited link */
.links1:visited {
  color: #7d6a9e;
}

/* mouse over link */
.links1:hover {
  color: hotpink;
}

/* selected link */
.links1:active {
  color: blue;
}


#navsidebar{
	margin-left: -10%;
}

.fc_green{
	color: #abdeba;
}

.caution_red{
	color: #ff8686
}
